$font_extrabold: 'FiraGO-ExtraBold';
$font_bold: 'FiraGO-Bold';
$font_semibold_italic: 'FiraGO-SemiBoldItalic';
$font_bold_italic: 'FiraGO-BoldItalic';
$font_medium: 'FiraGO-Medium';
$font_medium_italic: 'FiraGO-MediumItalic';
$font_regular: 'FiraGO-Regular';
$font_light: 'FiraGO-Light';

$h1_mobile: 5rem;
$h1_desktop: 6rem;

$h2_mobile: 4rem;
$h2_desktop: 5rem;

$nav_title_mobile: 1.8rem;
$nav_title_desktop: 2.2rem;

$page_margin_left: 10vw;
$page_margin_right: 10vw;
