@import '../../styles/Colors.scss';
@import '../../styles/Units.scss';

.news-root {
	display: flex;
	width: 100%;
	background-color: #2b2b2b;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 10rem 0;
}

.news-art {
	width: 30rem;
	height: 30rem;
	margin-left: 5rem;
}

// Title Container and Text
.news-content > span {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.news-content > span h1 {
	font-size: 6rem;
	margin-left: 2rem;
	color: white;
}

.article-root {
	width: 100%;
	text-decoration: none;
	border-bottom: 1px rgb(164, 164, 164) solid;
}

.news-info-grid {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	height: 40rem;
	width: 60rem;
	margin-top: 2rem;
	overflow: scroll;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.news-info-grid::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.article-info {
	min-height: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.article-info:hover > h1,
.article-info:hover > h2 {
	color: white;
}

.article-info > h1 {
	color: #a8a8a8;
	font-family: OpenSans-SemiBold;
	font-size: 1.5rem;
}

.article-info > h2 {
	color: #a8a8a8;
	font-size: 1.5rem;
	font-family: OpenSans-Light;
}

@media (max-width: 1130px) {
	// Title Container and Text
	.news-content > span h1 {
		font-size: 4rem;
	}

	.news-info-grid {
		height: 40rem;
		width: 40rem;
	}
}

@media (max-width: 830px) {
	.news-art {
		display: none;
	}

	.news-content > span h1 {
		font-size: 3.5rem;
	}

	.news-content > span {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.news-info-grid {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: center;
		height: 60rem;
		width: 100%;
		box-sizing: border-box;
		padding: 0 4rem;
		margin-top: 3rem;
		overflow: scroll;
	}

	.article-root {
		padding: 2rem 0;
	}

	.article-root,
	.article-info {
		width: 100%;
	}
}
